* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yuji+Mai&display=swap');


.AboutUs{
    margin-top: 20px;
}

.aboutUs_container {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aboutUs_left .comboImg_about {
    width: 200px;
}
.aboutUs_right .title {
    font-size: 2rem;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}
.aboutUs_right p {
    line-height: 1.5;
    font-size: 0.65rem;
}
.btns_container_about {
    display: flex;
    column-gap: 20px;
}

.btns_container_about button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 500;
}

.btns_container_about .orderNowBtn_about {
    background-color: #ff002b;
    color: whitesmoke;
}

.btns_container_about .readMoreBtn_about {
    border: 1px solid black;
}
@media all and (min-width:768px) {
    
.aboutUs_container {
    margin-inline: auto;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 10px;
}
.aboutUs_left{
    width: 40%;
}
.aboutUs_left .comboImg_about {
    width: 400px;
}
.aboutUs_right{
    flex: 1;
    width: 60%;

}
.aboutUs_right .title {
    font-size: 4rem;
}

.aboutUs_right p {
    line-height: 1.5;
    font-size: 1rem;
}


}
